/* write your override styles here hey i'm ryan I'm hoping this works to close the lab */
div.tag-1{
    display: none;
}
div#wall div#tag-2{
    display: none;
}
div#wall div#tag-3.slick{
    display: none;
}
div.parent{
    display: none;
}
div#tag-4{
    display: none;
}
div#wall .parent div#tag-5.slick{
    display: none;
}